name: OZI

on:
  push:
    branches:
      - "v?[0-9].[0-9]*"
      - "v?[1-9]+[0-9].[0-9]*"

permissions:
  contents: read

jobs:


  checkpoint-cp310-ubuntu-latest:
    name: checkpoint (Python 3.10 on ubuntu-latest)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    permissions:
        id-token: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            files.pythonhosted.org:443
            github.com:443
            api.github.com:443
            oziproject.dev:443
            www.oziproject.dev:443
            pypi.org:443
            registry.npmjs.org:443
            objects.githubusercontent.com:443
            fulcio.sigstore.dev:443
            rekor.sigstore.dev:443
            tuf-repo-cdn.sigstore.dev:443
            dev-87evx9ru.auth0.com:443
            release-assets.githubusercontent.com:443

      - uses: OZI-Project/checkpoint@5c04e23edea0edcd1eb731ad465d3fb7fe5ad0d7 # 1.11.0
        with:
          python-version: "3.10"

  checkpoint-cp311-ubuntu-latest:
    name: checkpoint (Python 3.11 on ubuntu-latest)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    permissions:
        id-token: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            files.pythonhosted.org:443
            github.com:443
            api.github.com:443
            oziproject.dev:443
            www.oziproject.dev:443
            pypi.org:443
            registry.npmjs.org:443
            objects.githubusercontent.com:443
            fulcio.sigstore.dev:443
            rekor.sigstore.dev:443
            tuf-repo-cdn.sigstore.dev:443
            dev-87evx9ru.auth0.com:443
            release-assets.githubusercontent.com:443

      - uses: OZI-Project/checkpoint@5c04e23edea0edcd1eb731ad465d3fb7fe5ad0d7 # 1.11.0
        with:
          python-version: "3.11"

  checkpoint-cp312-ubuntu-latest:
    name: checkpoint (Python 3.12 on ubuntu-latest)
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    permissions:
        id-token: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            files.pythonhosted.org:443
            github.com:443
            api.github.com:443
            oziproject.dev:443
            www.oziproject.dev:443
            pypi.org:443
            registry.npmjs.org:443
            objects.githubusercontent.com:443
            fulcio.sigstore.dev:443
            rekor.sigstore.dev:443
            tuf-repo-cdn.sigstore.dev:443
            dev-87evx9ru.auth0.com:443
            release-assets.githubusercontent.com:443

      - uses: OZI-Project/checkpoint@5c04e23edea0edcd1eb731ad465d3fb7fe5ad0d7 # 1.11.0
        with:
          python-version: "3.12"


  checkpoint:
    runs-on: ubuntu-latest
    needs: [checkpoint-cp310-ubuntu-latest,checkpoint-cp311-ubuntu-latest,checkpoint-cp312-ubuntu-latest,]
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block


  draft:
    needs: checkpoint
    runs-on: ubuntu-latest
    concurrency: draft
    strategy:
      fail-fast: true
    permissions:
      contents: write
      id-token: write
    outputs:
      drafted: ${{ steps.draft.outputs.drafted }}
      tag: ${{ steps.draft.outputs.tag }}
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            github.com:443

      - uses: OZI-Project/draft@d1cca28d3fa7f004b7b21abcb945e6760246bae7 # 1.17.4
        id: draft
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}


  release:
    needs: [draft, checkpoint]
    runs-on: ubuntu-latest
    concurrency: release
    strategy:
      fail-fast: true
      max-parallel: 1
    permissions:
      contents: write
      id-token: write
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          disable-sudo: true
          egress-policy: block
          allowed-endpoints: >
            api.github.com:443
            files.pythonhosted.org:443
            fulcio.sigstore.dev:443
            github.com:443
            pypi.org:443
            rekor.sigstore.dev:443
            tuf-repo-cdn.sigstore.dev:443
            oziproject.dev:443
            www.oziproject.dev:443
            objects.githubusercontent.com:443
            quay.io:443
            cdn03.quay.io:443
            downloads.python.org:443

      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          name: security2

      - run: |
            pip install -r .github/workflows/dev-requirements.txt
            pipx ensurepath --force
            pipx install meson --force

      - name: Configure git repository
        run: |
            git config --global user.email "noreply@oziproject.dev"
            git config --global user.name "OZI Packaging"
            rm -rf .git/COMMIT_EDITMSG

      - name: Hiding README.rst symlink from SCM
        continue-on-error: true
        run: |
            git update-index --skip-worktree README.rst

      - name: Hiding README.md symlink from SCM
        continue-on-error: true
        run: |
            git update-index --skip-worktree README.md

      - name: Hiding README.txt symlink from SCM
        continue-on-error: true
        run: |
            git update-index --skip-worktree README.txt
  
      - name: Hiding assets folder from SCM
        run: |
            git update-index --skip-worktree doc/assets/brand

      - name: Initialize invoke environment
        run: tox -e invoke -- --list

      - name: Publish release
        uses: OZI-Project/secure-release@2ef1b3f4b10f3fee22ba26444a6324203d6e2ea4 # 1.2.0
        with:
          sdist: true
          wheel-sign-token: ${{ secrets.WHEEL_SIGN_TOKEN }}

      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          include-hidden-files: true
          path: |
            !*-checkpoint/
            !.git/config
            !signing-artifacts-*/
            !security2/
            !build/
            ./

  provenance:
    runs-on: ubuntu-latest
    needs: [draft, release]
    if: needs.draft.outputs.drafted == 'true'
    permissions:
      contents: write
      id-token: write
      attestations: write
    steps:
    - uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          github.com:443
          api.github.com:443
          upload.pypi.org:443
          uploads.github.com:443
          rekor.sigstore.dev:443
          tuf-repo-cdn.sigstore.dev:443
          fulcio.sigstore.dev:443
          ghcr.io:443
          pkg-containers.githubusercontent.com:443

    - uses: OZI-Project/provenance@96f6b35116d8140aaa0415fe31dddc4a4a84af2d
      with:
        release-tag: ${{ needs.draft.outputs.tag }}

  publish:
    runs-on: ubuntu-latest
    needs: [draft, release]
    if: needs.draft.outputs.drafted == 'true'
    permissions:
      pull-requests: write
      contents: write
      id-token: write
    steps:
    - name: Harden Runner
      uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
      with:
        disable-sudo: true
        egress-policy: block
        allowed-endpoints: >
          github.com:443
          api.github.com:443
          upload.pypi.org:443
          uploads.github.com:443
          rekor.sigstore.dev:443
          tuf-repo-cdn.sigstore.dev:443
          fulcio.sigstore.dev:443
          ghcr.io:443
          pkg-containers.githubusercontent.com:443

    - uses: OZI-Project/publish@4ec8a034b233d85270e2b80ab567b1691f708b02 # 1.17.4
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}

    - name: Publish package distributions to PyPI
      uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e

    - name: Create pull request
      run: gh pr create -B $HEAD_BRANCH -H $REF_NAME --title "Merge $REF_NAME into $HEAD_BRANCH" --body "$PR_BODY"
      env:
          HEAD_BRANCH: master
          REF_NAME: ${{ github.head_ref || github.ref_name }}
          PR_BODY: Created automatically, close and reopen to enable checks.
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
